#container
{
    box-shadow: 0, 0, 3px, rgba(0,0,0, 0.1);
    width: 360px;
    margin: 100px auto;
    background-color: #f7f7f7;
}
h1{
    background-color: #2980d9;
    color:white;
    margin:0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}
ul{
    list-style: none;
    margin:0;
    padding: 0;
}
li{
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
}
input{
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    box-sizing: border-box;
    padding: 13px 13px 13px 20px;
    border: none;
    color: #2980d9;
}
input:focus{
    background-color: #fff;
    border: 3px solid #2980d9;
}
li:nth-child(2n){
    background-color: #f7f7f7;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.fa-plus{
    float: right;
    transition: 1s;
}
.fa-plus:hover{
    transform: rotate(360deg);
}
.compleated{
    color:lightgray;
    text-decoration: line-through;
}
span{
    background-color: #c31432;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block; 
    transition: 0.2s linear;
    opacity: 0;
}  
li:hover span{
    width: 40px;
    opacity: 1;
}

